.sys-admin-page-container {
  padding: 80px 0;
  background-color: #121212;
  color: #ccc;
}

.sys-admin-page-container .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.sys-admin-page-container h2 {
  font-size: 3em;
  color: #007bff;
  margin-bottom: 40px;
  text-align: center;
}

.sys-admin-page-container p {
  font-size: 1.2em;
  line-height: 1.8;
  margin-bottom: 25px;
  text-align: justify;
}
